
<div class="row">
  <div class="col-xs-12 flex-list">
    <div class="shot flex-list-item thumbnails" ng-repeat="movie in list.results">
      <div class="thumbnail">

        <!--<a href="#/movie/{{ movie.id }}">
          {{ movie.title }}
        </a>
          <br />-->
        <a class="player" href="#/movie/{{ movie.id }}">
          <img alt="{{ movie.title }} image" data-ng-src="http://image.tmdb.org/t/p/w342{{ movie.poster_path }}" title="{{ movie.overview }}">
        </a>
        <div class="stats">
          <span class="stat">
            Popularity: <i class="icon-heart"></i> {{ movie.popularity | number:0 }}%
          </span><br />
          <span class="stat">
            Total Votes: {{movie.vote_count}}
          </span><br />
          <span class="stat">
            Average Vote: <i class="icon-heart"></i> {{movie.vote_average}}
          </span><br />
          <span class="stat">
            Released Date: {{ movie.release_date | movieDate:"MMM d, yyyy"}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" ng-click="loadNextPage();">
      Load More
    </button>
  </div>
</div>