<div class="media shot_header">
  <div class="pull-left">
    <img class="media-object" ng-src="http://image.tmdb.org/t/p/w500{{ movie.backdrop_path }}" >
  </div>
  <div class="media-body">
    <a href="{{movie.homepage}}">
	    <h1>{{movie.title}}</h1>
	    <span class="muted"></span>
    </a>
	    {{movie.tagline}} 
  </div>
</div>

<div class="row">
	  <div class="span6">
	    <img class="shot_image" ng-src="http://image.tmdb.org/t/p/w500{{movie.backdrop_path}}">

	    <div class="page-header">
	      <h2>Responses</h2>
		    <p>
		    {{ movie.overview }}
		    </p>
	    </div>
	    	<p>
		  <div ng-repeat="image in movie.images.backdrops" style="max-width: 100px;">
	    	<a href="http://image.tmdb.org/t/p/original{{image.file_path}}" target="_new">
	        	<img class="thumbnail" ng-src="http://image.tmdb.org/t/p/w92{{image.file_path}}">
	        </a>
		  </div>
		  <div ng-repeat="image in movie.images.posters" style="max-width: 100px;">
	    	<a href="http://image.tmdb.org/t/p/original{{image.file_path}}" target="_new">
	        	<img class="thumbnail" ng-src="http://image.tmdb.org/t/p/w92{{image.file_path}}">
	        </a>
		  </div>
	  </div>

	  <div class="span3">
	      <ul class="nav nav-list">
	        <li>
	          Vote Average: <i class="icon-heart"></i> {{movie.vote_average}} 
	        </li>
	        <li>
	          Vote Count: {{movie.vote_count | number }} 
	        </li>
	        <li>
	          Release Date: 
	          {{movie.release_date | movieDate:"MMM d, yyyy" }} 
	        </li>
	        <li ng-repeat="trailer in movie.trailers.youtube">
	          <a href="https://youtu.be/{{trailer.source}}">
	            {{ trailer.name }} 
	          </a>
	        </li>
	        <li>
	            Gentre: 
	            <span ng-repeat="genre in movie.genres"> 
	            {{ genre.name }}<span ng-show="!$last">, </span>
	            </span>
	        </li>
	      </ul>

	  </div>
</div>