.flex {
    &-container {
    	@extends %clearfix;
        @include align-items(stretch);
        @include display(flex);
        @include flex-direction(row);
        @include justify-content(space-between);
        @include flex-wrap(wrap);
    }

    &-item {
        /*background-color: cornflowerblue;*/
        width: 100px;
        margin: 5px;
    }
}
.main-flex-item {
    /*background-color: cornflowerblue;*/
    @include calc(width, "940px / 2 - 10px * 4");
    /*width: calc(940px / 2 - 10px * 4);*/
    margin: 10px auto 10px 10px;
}

.images {
    &-poster {
        @include calc(width, "100% * (2/3)");
        @include align-items(stretch);
        @include display(flex);
        @include flex-direction(row);
        @include justify-content(space-around);
        @include flex-wrap(wrap);
    }
    &-wallpaper {
        @include calc(width, "100% * (1/3)");
        @include align-items(stretch);
        @include display(flex);
        @include flex-direction(row);
        @include justify-content(space-around);
        @include flex-wrap(wrap);
    }
}