.navbar .nav > li > a {
    padding: 15px 15px;
}


.shot_ {
	&header {
	  margin-bottom: 20px;
	}

	&header h1 {
	  font-size: 24px;
	  line-height: 1;
	  margin-top: 5px;
	}

	&header img {
	  height: 60px;
	}
}